<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="theme-color" content="#149fff">
    <meta name="google-site-verification" content="jJtw40VLTEcIFoV5cyyjsN1HbqU7fXXMlTJ39z9mm5o" />
    <title>Snippets.io</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>





    {{> navbar}}
    <div class="body px-4 sm:px-24  min-h-screen flex justify-center ">
        {{{body}}}
    </div>
    {{> footer}}

    <style>
        .body {
            margin-top: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>

</body>

</html>