<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="theme-color" content="#149fff">
    <meta name="google-site-verification" content="jJtw40VLTEcIFoV5cyyjsN1HbqU7fXXMlTJ39z9mm5o" />
    <title>Hireplus</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    {{> navbar}}
    <div class="px-2 sm:px-24 min-h-screen flex justify-center ">
        {{{body}}}
    </div>
    {{> footer}}

</body>

</html>